In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('com.spark-dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/10 16:13:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [23]:
def load_dataframe(filename):
    df = spark.read.format('csv').options(header='true',inferSchema = 'true').load(filename)
    return df

In [24]:
matches_df = load_dataframe('/Users/antonyprincej/projects/pyspark-notebooks/Data/Matches.csv')

In [25]:
matches_df.printSchema()

root
 |-- Match_ID: integer (nullable = true)
 |-- Div: string (nullable = true)
 |-- Season: integer (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- HomeTeam: string (nullable = true)
 |-- AwayTeam: string (nullable = true)
 |-- FTHG: integer (nullable = true)
 |-- FTAG: integer (nullable = true)
 |-- FTR: string (nullable = true)

In [26]:
matches_df.show(5)

+--------+---+------+-------------------+-------------+--------------+----+----+---+
|Match_ID|Div|Season|               Date|     HomeTeam|      AwayTeam|FTHG|FTAG|FTR|
+--------+---+------+-------------------+-------------+--------------+----+----+---+
|       1| D2|  2009|2010-04-04 00:00:00|   Oberhausen|Kaiserslautern|   2|   1|  H|
|       2| D2|  2009|2009-11-01 00:00:00|  Munich 1860|Kaiserslautern|   0|   1|  A|
|       3| D2|  2009|2009-10-04 00:00:00|Frankfurt FSV|Kaiserslautern|   1|   1|  D|
|       4| D2|  2009|2010-02-21 00:00:00|Frankfurt FSV|     Karlsruhe|   2|   1|  H|
|       5| D2|  2009|2009-12-06 00:00:00|        Ahlen|     Karlsruhe|   1|   3|  A|
+--------+---+------+-------------------+-------------+--------------+----+----+---+
only showing top 5 rows

In [32]:
from pyspark.sql.functions import col,sum,avg,max,min,mean,count

In [33]:
matches_df \
    .groupBy('AwayTeam') \
    .agg(count("Match_ID").alias("Players")) \
    .where(col("Players") > 100) \
    .show()

+--------------+-------+
|      AwayTeam|Players|
+--------------+-------+
|         Mainz|    427|
|Kaiserslautern|    393|
|     Tottenham|    460|
|    Schalke 04|    425|
|      Nurnberg|    408|
|        Bolton|    247|
|  Union Berlin|    204|
|Sheffield Weds|    137|
|    Sunderland|    304|
| Frankfurt FSV|    136|
|      Coventry|    156|
|        F Koln|    121|
|Erzgebirge Aue|    204|
|       Arsenal|    460|
|      Man City|    365|
|     Blackburn|    327|
|        Bochum|    427|
|    Hoffenheim|    187|
|    RB Leipzig|    153|
|       Norwich|    137|
+--------------+-------+
only showing top 20 rows

In [38]:
matches_df \
    .groupBy('Div')\
    .agg(count("HomeTeam").alias("Teams")) \
    .show()

+---+-----+
|Div|Teams|
+---+-----+
| D1| 7650|
| E0| 9284|
| D2| 7691|
+---+-----+